<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>test</title>
    <link rel="stylesheet" href="/css/style.min.css" />
   <script src="https://kit.fontawesome.com/512d9bb32f.js" crossorigin="anonymous"></script>    
</head>

<body>
    <%- body %>

    <script>
        window.addEventListener('load', () => {
            document.querySelectorAll('.title-line').forEach(e => {
                e.classList.add('ctive')
            })
        })
    </script>
</body>
</body>

</html>