<div class="success">
   <h1 class="pge-title">
      Success
      <div class="title-line"></div>
      <div class="title-line"></div>
   </h1>
   <div>
      <img class="success-img" src="./img/checkmrk.png" alt="success">
      <h3>Successfully submitted your message.</h3>
      <a href="/"><i class="fa fa-arrow-left"></i> Go back</a>
   </div>
</div>