<%- contentFor('body') %>
<section class="shwcse">
   <div class="shwcse-phrse">
      <h1>Let's Make It Real!</h1>
      <p>Full Stack Web Developing</p>
      <a href="/contact" class="letsGo">Lets Go <span class="fa fa-arrow-circle-right"></span></a>
   </div>

   <div class="shwcse-svg">
      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
         x="0px" y="0px" width="100%" height="100%" viewBox="0 0 640 480" enable-background="new 0 0 640 480"
         xml:space="preserve">
         <g class="right-svg">
            <path opacity="0.4" fill="#D85D5D" d="M410,75c0,6.075-4.925,11-11,11H280c-6.075,0-11-4.925-11-11l0,0c0-6.075,4.925-11,11-11h119
      C405.075,64,410,68.925,410,75L410,75z" />
            <path opacity="0.4" fill="#FC2C03" d="M528,296.25c0,5.938-4.813,10.75-10.75,10.75h-166.5c-5.938,0-10.75-4.813-10.75-10.75v-0.5
      c0-5.938,4.813-10.75,10.75-10.75h166.5c5.938,0,10.75,4.813,10.75,10.75V296.25z" />
            <path opacity="0.4" fill="#F9FF00" d="M502.333,257.5c0,7.406-5.148,13.5-11.5,13.5h-37c-6.352,0-11.5-6.094-11.5-13.5l0,0
      c0-7.407,5.148-13.5,11.5-13.5h37C497.185,244,502.333,250.093,502.333,257.5L502.333,257.5z" />
            <path opacity="0.4" fill="#FF7F00" d="M555.333,206c0,6.627-4.478,12-10,12h-86c-5.522,0-10-5.373-10-12l0,0
      c0-6.627,4.478-12,10-12h86C550.855,194,555.333,199.373,555.333,206L555.333,206z" />
            <path opacity="0.4" fill="#F9FF00" d="M589,257c0,6.627-5.373,12-12,12h-55c-6.627,0-12-5.373-12-12v-1c0-6.627,5.373-12,12-12h55
      c6.627,0,12,5.373,12,12V257z" />
            <path opacity="0.4" fill="#0074FF" d="M523,114.803c0,5.891-5.04,11.197-11.667,11.197h-142c-6.627,0-12.333-5.306-12.333-11.197
      v-2.667c0-5.891,5.706-10.136,12.333-10.136h142c6.627,0,11.667,4.245,11.667,10.136V114.803z" />
            <path opacity="0.4" fill="#00FFFF" d="M575,156.5c0,5.799-4.701,10.5-10.5,10.5h-87c-5.799,0-10.5-4.701-10.5-10.5l0,0
      c0-5.799,4.701-10.5,10.5-10.5h87C570.299,146,575,150.701,575,156.5L575,156.5z" />
         </g>
         <g class="left-svg">
            <path opacity="0.4" fill="#8F00FF" d="M362.333,338.5c0,6.35-3.808,11.5-8.503,11.5H228.836c-4.695,0-8.503-5.15-8.503-11.5l0,0
      c0-6.352,3.808-11.5,8.503-11.5H353.83C358.525,327,362.333,332.148,362.333,338.5L362.333,338.5z" />
            <path opacity="0.4" fill="#FC2C03" d="M286,301.22c0,6.213-2.818,11.78-6.705,11.78H161.371c-3.887,0-7.371-5.567-7.371-11.78v-0.5
      c0-6.213,3.484-10.72,7.371-10.72h117.924c3.887,0,6.705,4.507,6.705,10.72V301.22z" />
            <path opacity="0.4" fill="#F9FF00" d="M277,255.5c0,6.352-5.149,11.5-11.5,11.5h-166c-6.351,0-11.5-5.148-11.5-11.5l0,0
      c0-6.352,5.149-11.5,11.5-11.5h166C271.851,244,277,249.148,277,255.5L277,255.5z" />
            <path opacity="0.4" fill="#FF7F00" d="M356,206c0,6.627-5.373,12-12,12H166c-6.627,0-12-5.373-12-12l0,0c0-6.627,5.373-12,12-12
      h178C350.627,194,356,199.373,356,206L356,206z" />
            <path opacity="0.4" fill="#00FFFF" d="M351,156.5c0,5.799-4.701,10.5-10.5,10.5h-262c-5.799,0-10.5-4.701-10.5-10.5l0,0
      c0-5.799,4.701-10.5,10.5-10.5h262C346.299,146,351,150.701,351,156.5L351,156.5z" />
            <path opacity="0.4" fill="#FF7F00" d="M141.333,206c0,6.627-4.595,12-10.264,12H60.931c-5.669,0-10.264-5.373-10.264-12l0,0
      c0-6.627,4.595-12,10.264-12h70.139C136.738,194,141.333,199.373,141.333,206L141.333,206z" />
            <path opacity="0.4" fill="#0074FF" d="M250.333,114c0,6.627-3.806,12-8.5,12h-77c-4.694,0-8.5-5.373-8.5-12l0,0
      c0-6.627,3.806-12,8.5-12h77C246.527,102,250.333,107.373,250.333,114L250.333,114z" />
            <path opacity="0.4" fill="#0074FF" d="M344.333,114c0,6.627-7.322,12-16.353,12h-36.795c-9.03,0-16.353-5.373-16.353-12l0,0
      c0-6.627,7.322-12,16.353-12h36.795C337.011,102,344.333,107.373,344.333,114L344.333,114z" />
         </g>
         <ellipse class="pltform" fill="#E4E4E4" cx="347.833" cy="384.323" rx="202.5" ry="31.854" />
         <g class="desktop-svg icons-svg">
            <path fill="#FFFFFF" stroke="#541A1A" stroke-miterlimit="10"
               d="M463.5,294.268c0,5.099-4.134,9.232-9.232,9.232H197.732
      c-5.099,0-9.232-4.134-9.232-9.232V148.732c0-5.099,4.133-9.232,9.232-9.232h256.535c5.099,0,9.232,4.133,9.232,9.232V294.268z" />
            <rect x="202.5" y="151.5" fill="#FFFFFF" stroke="#541A1A" stroke-miterlimit="10" width="247" height="138" />
            <path fill="#FFFFFF" stroke="#541A1A" stroke-miterlimit="10" d="M301.5,374.399c0,0,13.932-4.235,13.932-31.122
      S301.5,303.5,301.5,303.5h49.833c0,0-13.932,12.891-13.932,39.777s13.932,31.281,13.932,31.281" />
            <path fill="#FFFFFF" stroke="#541A1A" stroke-miterlimit="10"
               d="M403.5,378.063c0,2.156-0.507,4.437-2.364,4.437H253.697
      c-1.858,0-4.197-2.28-4.197-4.437v-0.188c0-2.158,2.339-3.376,4.197-3.376h147.438c1.857,0,2.364,1.218,2.364,3.376V378.063z" />
            <circle fill="#E5DFDF" cx="244.583" cy="190.219" r="19.75" />
            <path fill="#E5DFDF" d="M435.083,176c0,2.353-3.374,5-7.535,5H284.369c-4.163,0-7.536-2.647-7.536-5l0,0c0-2.353,3.373-5,7.536-5
      h143.179C431.709,171,435.083,173.647,435.083,176L435.083,176z" />
            <path fill="#E5DFDF" d="M373.167,191c0,2.353-2.054,5-4.587,5h-87.159c-2.534,0-4.588-2.647-4.588-5l0,0c0-2.353,2.054-5,4.588-5
      h87.159C371.113,186,373.167,188.647,373.167,191L373.167,191z" />
            <path fill="#E5DFDF" d="M435.083,191c0,2.353-1.273,5-2.845,5h-54.061c-1.571,0-2.845-2.647-2.845-5l0,0c0-2.353,1.273-5,2.845-5
      h54.061C433.81,186,435.083,188.647,435.083,191L435.083,191z" />
            <path fill="#E5DFDF" d="M356.833,211c0,2.353-1.717,5-3.833,5h-72.833c-2.118,0-3.834-2.647-3.834-5l0,0c0-2.353,1.716-5,3.834-5
      H353C355.116,206,356.833,208.647,356.833,211L356.833,211z" />
            <path fill="#E5DFDF" d="M435.083,211c0,2.353-0.885,5-1.977,5H395.56c-1.092,0-1.977-2.647-1.977-5l0,0c0-2.353,0.885-5,1.977-5
      h37.547C434.198,206,435.083,208.647,435.083,211L435.083,211z" />
            <path fill="#E5DFDF" d="M390.583,211c0,2.353-0.613,5-1.369,5h-26.012c-0.756,0-1.369-2.647-1.369-5l0,0c0-2.353,0.613-5,1.369-5
      h26.012C389.97,206,390.583,208.647,390.583,211L390.583,211z" />
            <rect x="216" y="224" fill="#E5DFDF" width="48" height="40" />
            <rect x="224" y="274" fill="#E5DFDF" width="100" height="15" />
            <rect x="340" y="274" fill="#E5DFDF" width="100" height="15" />
            <rect x="273" y="224" fill="#E5DFDF" width="48" height="40" />
            <rect x="332" y="224" fill="#E5DFDF" width="48" height="40" />
            <rect x="389" y="224" fill="#E4E4E4" width="48" height="40" />
         </g>
         <g class="tblet-svg icons-svg">
            <path fill="#FFFFFF" stroke="#541A1A" stroke-miterlimit="10"
               d="M471.5,371.296c0,5.898-3.52,11.204-9.119,11.204H358.47
      c-5.598,0-10.97-5.306-10.97-11.204V238.652c0-5.899,5.372-10.152,10.97-10.152h103.911c5.6,0,9.119,4.252,9.119,10.152V371.296z" />
            <rect x="359.5" y="240.5" fill="#FFFFFF" stroke="#541A1A" stroke-miterlimit="10" width="102" height="124" />
            <circle fill="#FFFFFF" stroke="#541A1A" stroke-miterlimit="10" cx="411.797" cy="373.224" r="6.529" />
            <ellipse fill="#E5DFDF" cx="387.123" cy="267.987" rx="17.29" ry="16.518" />
            <rect x="367" y="339" fill="#E5DFDF" width="88" height="25" />
            <rect x="360" y="292" fill="#E5DFDF" width="17" height="40" />
            <rect x="388" y="292" fill="#E5DFDF" width="48" height="40" />
            <rect x="445" y="292" fill="#E5DFDF" width="16" height="40" />
            <path fill="#E5DFDF" d="M436,263c0,1.657-1.343,3-3,3h-23c-1.657,0-3-1.343-3-3l0,0c0-1.657,1.343-3,3-3h23
      C434.657,260,436,261.343,436,263L436,263z" />
            <path fill="#E5DFDF" d="M454,263.125c0,1.588-1.287,2.875-2.875,2.875h-10.25c-1.588,0-2.875-1.287-2.875-2.875v-0.25
      c0-1.588,1.287-2.875,2.875-2.875h10.25c1.588,0,2.875,1.287,2.875,2.875V263.125z" />
            <path fill="#E5DFDF" d="M453,271.563c0,1.346-1.092,2.438-2.438,2.438h-40.125c-1.346,0-2.438-1.092-2.438-2.438v-0.125
      c0-1.346,1.092-2.438,2.438-2.438h40.125c1.346,0,2.438,1.092,2.438,2.438V271.563z" />
            <path fill="#E5DFDF" d="M424,279.75c0,1.242-1.008,2.25-2.25,2.25h-10.5c-1.242,0-2.25-1.008-2.25-2.25v-0.5
      c0-1.242,1.008-2.25,2.25-2.25h10.5c1.242,0,2.25,1.008,2.25,2.25V279.75z" />
            <path fill="#E5DFDF" d="M454.833,279.5c0,1.26-0.896,2.5-2,2.5h-13c-1.104,0-2-1.24-2-2.5l0,0c0-1.26,0.896-2.5,2-2.5h13
      C453.938,277,454.833,278.24,454.833,279.5L454.833,279.5z" />
            <path fill="#E5DFDF" d="M435,279.5c0,1.381-1.119,2.5-2.5,2.5h-4c-1.381,0-2.5-1.119-2.5-2.5l0,0c0-1.381,1.119-2.5,2.5-2.5h4
      C433.881,277,435,278.119,435,279.5L435,279.5z" />
         </g>
         <g class="phone-svg icons-svg">
            <path fill="#FFFFFF" stroke="#541A1A" stroke-miterlimit="10"
               d="M533.601,313.5c4.516,0,8.899,1.376,8.899,4.472v57.457
      c0,3.096-4.384,7.071-8.899,7.071H432.076c-4.517,0-8.576-3.976-8.576-7.071v-57.457c0-3.096,4.06-4.472,8.576-4.472H533.601z" />
            <rect x="433.5" y="319.5" fill="#FFFFFF" stroke="#541A1A" stroke-miterlimit="10" width="96" height="56" />
            <line fill="#FFFFFF" stroke="#541A1A" stroke-miterlimit="10" x1="533" y1="365.5" x2="538" y2="365.5" />
            <line fill="#FFFFFF" stroke="#541A1A" stroke-miterlimit="10" x1="533" y1="363.5" x2="538" y2="363.5" />
            <line fill="#FFFFFF" stroke="#541A1A" stroke-miterlimit="10" x1="533" y1="361.5" x2="538" y2="361.5" />
            <circle fill="#FFFFFF" stroke="#541A1A" stroke-miterlimit="10" cx="536.57" cy="347.23" r="1.845" />
            <polyline fill="#FFFFFF" stroke="#541A1A" stroke-miterlimit="10"
               points="534.333,329.04 536.541,331.452 538.75,329.052 	" />
            <ellipse fill="#E5DFDF" cx="451.148" cy="345.532" rx="12.119" ry="12.688" />
            <rect x="517" y="322" fill="#E5DFDF" width="12" height="51" />
            <rect x="487" y="361" fill="#E5DFDF" width="23" height="14" />
            <rect x="487" y="334" fill="#E5DFDF" width="23" height="24" />
            <rect x="487" y="320" fill="#E5DFDF" width="23" height="11" />
            <path fill="#E5DFDF" d="M472,361.972c0,1.379-0.785,3.028-2.165,3.028h-0.004c-1.38,0-2.831-1.649-2.831-3.028v-33.004
      c0-1.381,1.451-1.968,2.831-1.968h0.004c1.38,0,2.165,0.587,2.165,1.968V361.972z" />
            <path fill="#E5DFDF" d="M478,363.063c0,1.07-0.867,1.938-1.938,1.938h-0.125c-1.07,0-1.938-0.867-1.938-1.938v-11.125
      c0-1.07,0.867-1.938,1.938-1.938h0.125c1.07,0,1.938,0.867,1.938,1.938V363.063z" />
            <path fill="#E5DFDF" d="M477.043,340c1.161,0,0.957,0.562,0.957,1.907v4.125c0,1.346,0.204,2.968-0.957,2.968h-0.107
      c-1.161,0-2.936-1.622-2.936-2.968v-4.125c0-1.346,1.774-1.907,2.936-1.907H477.043z" />
            <path fill="#E5DFDF" d="M478,336.47c0,1.104-0.896,2-2,2l0,0c-1.104,0-2-0.896-2-2v-8c0-1.105,0.896-2,2-2l0,0c1.104,0,2,0.895,2,2
      V336.47z" />
            <path fill="#E5DFDF" d="M484,362.47c0,1.104-0.896,2-2,2l0,0c-1.104,0-2-0.896-2-2v-20c0-1.105,0.896-2,2-2l0,0
      c1.104,0,2,0.895,2,2V362.47z" />
            <path fill="#E5DFDF" d="M484,336.47c0,1.104-0.896,2-2,2l0,0c-1.104,0-2-0.896-2-2v-7c0-1.105,0.896-2,2-2l0,0c1.104,0,2,0.895,2,2
      V336.47z" />
         </g>
      </svg>
   </div>

   <div class="sm-icons">
      <a href="https://www.github.com/frances9172000" target="_blank" class="github">
         <div class="fab fa-github"></div>
      </a>

      <a href="https://codepen.io/frances17" target="_blank" class="codepen">
         <div class="fab fa-codepen"></div>
      </a>

      <a href="http://www.linkedin.com/in/frances-gonzales-98361719b" target="_blank" class="linkin">
         <div class="fab fa-linkedin"></div>
      </a>
   </div>
</section>

<%- contentFor('script') %>
<script>
   class chngingText {
      constructor() {
         this.r = [];
         this.chngeText = null;
      }

      colorBlck() {
         $(".spn1").forEach(e => {
            e.classList.remove("ctive");
         });

         $(".spn2").forEach(e => {
            e.classList.remove("ctive");
         });
      }

      chngeStyle() {
         while (this.r.length < 8) {
            let n = Math.floor(Math.random() * 19);
            if (this.r.indexOf(n) === -1) this.r.push(n);
         }
         this.r.forEach(e => {
            $(".spn1")[e].classList.toggle("ctive");
         });
         this.r.forEach(e => {
            $(".spn2")[e].classList.toggle("ctive");
         });
         this.r = [];
      }

      stop() {
         clearInterval(this.chngeText);
         this.colorBlck();
         this.r = [];
      }
      ply() {
         this.chngeText = this.chngeText = setInterval(() => {
            this.chngeStyle();
         }, 5000);
      }
   }

   function convSpn() {
      let spnEle = $(".shwcse-phrse h1")
         .textContent.split("")
         .map(e => {
            return `<div class="title-spns"><span class="spn1">${e}</span><span class="spn2">${e}</span><span class="spn3">${e}</span></div>`;
         });

      $(
         ".shwcse-phrse h1"
      ).innerHTML = `<div class="shwcs-title">${spnEle.join("")}</div>`;

      $(".spn3").forEach((e, i, es) => {
         if (e.textContent === " ") {
            e.innerHTML = ".";
         }
      });

      let rndomNum = [];

      while (rndomNum.length < 19) {
         let n = Math.floor(Math.random() * 19);
         if (rndomNum.indexOf(n) === -1) rndomNum.push(n);
      }

      rndomNum.forEach((e, i, es) => {
         if (i < 8) {
            $(".spn1")[e].classList.add("spn1-g1");
            $(".spn2")[e].classList.add("spn2-g1");
         } else {
            $(".spn1")[e].classList.add("spn1-g2");
            $(".spn2")[e].classList.add("spn2-g2");
         }
      });
   }

   function rndomStyle() {
      let r = [];
      while (r.length < 9) {
         let n = Math.floor(Math.random() * 19);
         if (r.indexOf(n) === -1) r.push(n);
      }
      r.forEach(e => {
         $(".spn1")[e].classList.toggle("ctive");
      });
      r.forEach(e => {
         $(".spn2")[e].classList.toggle("ctive");
      });
   }

   function intro() {
      let chngetext = new chngingText();
      chngetext.colorBlck();
      chngetext.ply();
      svgNm8();
   }

   function svgDely() {
      $(".left-svg > path").forEach(e => {
         e.style.transitionDelay = Math.random() * 0.5 + "s";
      });
      $(".right-svg > path").forEach(e => {
         e.style.transitionDelay = Math.random() * 0.5 + "s";
      });
      $(".icons-svg").forEach(e => {
         e.style.transitionDelay = Math.random() * 0.5 + "s";
      });
   }

   function svgIconsIn() {
      $(".icons-svg").forEach(e => {
         e.classList.toggle("ctive");
      });
   }

   function svgLines() {
      setTimeout(() => {
         $(".left-svg > path").forEach(e => {
            e.classList.toggle("ctive");
         });
         $(".right-svg > path").forEach(e => {
            e.classList.toggle("ctive");
         });
      }, 200);
   }

   function svgNm8() {
      svgIconsIn();
      svgLines();
   }
   convSpn();
   rndomStyle();
   svgDely();
   window.addEventListener('load', () => {
      $('.loading').classList.toggle('ctive');
      $(".under")[0].classList.add("ctive");
      $(".letsGo").classList.add("ctive");
      $(".letsGo").addEventListener("animationend", intro);
   })
</script>